<ion-header>
  <ion-toolbar>
    <ion-title>Leaderboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row style="text-align:center;">
      <ion-col><b>Country</b></ion-col>
      <ion-col><b>Played</b></ion-col>
      <ion-col><b>Won</b></ion-col>
      <ion-col><b>Drawn</b></ion-col>
      <ion-col><b>Lost</b></ion-col>
      <ion-col><b>Options</b></ion-col>
    </ion-row>
    <ion-row *ngFor="let entry of teams" style="text-align:center;">
      <ion-col>
        <img [src]="entry.team.logo" style="width:1em"/> {{entry.team.name}}</ion-col>
      <ion-col>{{entry.fixtures.played.total}}</ion-col>
      <ion-col>{{entry.fixtures.wins.total}}</ion-col>
      <ion-col>{{entry.fixtures.draws.total}}</ion-col>
      <ion-col>{{entry.fixtures.loses.total}}</ion-col>
      <ion-col><ion-icon name="heart-outline" (click)="favAdd(entry.team.id)"></ion-icon></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
